body {
    background-color:mintcream;
}

div.img {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p.bottom {
    font-size: small;
    font-style: italic;
}

div.join_game {
    margin:auto;
    width:50%;
    border-style:solid;
    border-color: darkgreen;
    text-align: center;
}

div.host_game {
    margin:auto;
    width:50%;
    border-style: solid;
    border-color: darkgreen;
    text-align: center;
}

div.game_in_list {
    border-style: solid;
    border-color: darkgreen;
    border-width: 0.01cm;
    width:90%;
    margin:auto;
}

div.game_container {
    border-style: solid;
    border-color: darkgreen;
    border-width: 0.01cm;
    width:90%;
    margin:auto;
}

div.buttons {
    margin:auto;
    text-align: center;
}

button.game_button {
    margin: 10px;
}

canvas {
    width: 100%;
    height: 680;
}

div.centered {
    text-align: center;
}